@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600);

:root {
  --container-width: 1440px;
  --container-padding: 32px;

  --font-main: 'Poppins', sans-serif;

  --white: #fff;
  --dark: #161414;
  --black: #000;
  --gray: #5b5b5b;
  --accent: #7b61ff;

  // --laptop-size: 1199px;
  // --tablet-size: 959px;
  // --mobile-size: 599px;
}
