.form {
  background: var(--white);
  border-radius: 12px;
  max-width: 1140px;
  height: 88px;
  padding: 8px 8px;
  color: var(--dark);
  display: flex;
}

.form__input {
  position: relative;
  display: inline-block;
  padding-left: 56px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 24px;
  }

  &--location::before {
    background-image: url('./../img/header/icon-map.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.label {
  color: var(--gray);
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

.select {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.form__search {
  width: 60px;
  height: 60px;
  background-color: var(--accent);
  border-radius: 12px;
  padding: 18px;
}
